/*
Global

This contains global elements (like colors) used everywhere.

Weight: -1

Styleguide: Global
*/

/*
Atoms

Atoms are the smallest parts of your website.

Weight: 1

Styleguide: Atoms
*/

/*
Molecules

Molecules consist out of several atoms.

Weight: 2

Style guide: Molecules
*/

/*
Organisms

Organisms combine several molecules.

Weight: 3

Style guide: Organisms
*/

/*
Templates

Templates are placeholders combining several organisms.

Weight: 4

Style guide: Templates
*/

/*
Pages

Pages are tempates containing content.

Weight: 5

Style guide: Pages
*/
